version: 2
registries:
  k9-rapid:
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/k9-rapid
    username: x-access-token
    password: ${{secrets.READER_TOKEN}}
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
      exclude:
        - "no.nav.*"
        - "com.github.navikt:*"
    registries:
      - k9-rapid
